<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      >
    <head th:replace="~{layout/plantilla :: head}"> 
        <title>Dulces del Cielo</title>
        <meta charset="UTF-8"/> 
        <link th:href="/css/Estilomenuprincipalycategorias.css}" rel="stylesheet" type="text/css"/> 
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 #9A59AB">
            <div class="container">
                <div class="row">
                    <div style="color: #ffffff" class="col-md-3" >   
                        <button 
                            type="button" 
                            class="btn #9A59AB" style="background-color:#9A59AB"
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarPedidos">
                            <i  class="fas fa-plus"></i> [[#{pedidos.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar pedidos, es la ventana modal -->
        <section th:fragment="agregarPedidos">
            <div id="agregarPedidos" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{pedidos.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/pedidos/guardar}" th:object="${pedidos}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                              <div class="mb-3">
                                     
                                    <label for="nombre_cliente">[[#{pedidos.nombre_cliente}]]</label>
                                    <input type="text" class="form-control" name="nombre_cliente" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="telefono">[[#{pedidos.telefono}]]</label>
                                    <input class="text" type="number" name="telefono"/>
                                </div>
                                <div class="mb-3">
                                    <label for="fecha_entrega">[[#{pedidos.fecha_entrega}]]</label>
                                    <input type="date" class="form-control" name="fecha_entrega" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{pedidos.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>  
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad pedidos -->
        <section th:fragment="listadoPedidos" id="pedidos">
            
            <div class="container">
                <div class="row">
                    <div 
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{pedidos.listado}]]</h4>
                            </div>
                            <div th:if="${pedidos != null and !pedidos.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="pastel-item">
                                        <tr><th>#</th>
                                            <th>[[#{pedidos.nombre_cliente}]]</th>
                                            <th>[[#{pedidos.telefono}]]</th>
                                            <th>[[#{pedidos.fecha_entrega}]]</th>
                                            <th>[[#{pedidos.descripcion}]]</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="background-color:#F6A5D3" th:each="pedidos, contador : ${pedidos}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${pedidos.nombre_cliente}]]</td>
                                            <td>[[${pedidos.telefono}]]</td>
                                            <td>[[${pedidos.fecha_entrega}]]</td>
                                            <td>[[${pedidos.descripcion}]]</td>
                                            <td><a th:href="@{/pedidos/eliminar/}+${pedidos.numero_pedido}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/pedidos/modificar/}+${pedidos.numero_pedido}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${pedidos == null or pedidos.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="EditarPedido">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/pedidos/guardar}" 
                          th:object="${pedidos}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="numero_pedido" th:field="*{numero_pedido}"/>
                        
                        <section th:replace="~{pedidos/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                              <div class="mb-3">
                                                    <label for="nombre_cliente">[[#{pedidos.nombre_cliente}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="cliente" th:field="*{nombre_cliente}"
                                                           required="true">
                                                </div>  
                                                <div class="mb-3">
                                                    <label for="telefono">[[#{pedidos.telefono}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="telefono" th:field="*{telefono}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="fecha_entrega">[[#{pedidos.fecha_entrega}]]</label>
                                                    <input type="date" class="form-control" 
                                                           name="fecha_entrega" th:field="*{fecha_entrega}"
                                                           required="true">
                                                </div> 
                                                
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{pedidos.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/pedidos/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/pedidos/eliminar/}+${pedidos.numero_pedido}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>