 <!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
     <head>
        <title>Dulces del Cielo</title>
        <meta charset="UTF-8"> 
        <link href="css/Estilomenuprincipalycategorias.css" rel="stylesheet" type="text/css"/>  
    </head>
    <body>
        <header class="header">
            <nav class="nav">
        <img src="../Imagenes/dulces del cielo logo recortado.jpg" alt="Logo de pasteleria" width="100" />
        <a class="nav-link logo" href="index.html">Pastelería y Repostería</a>
        <a class="nav-link logo" href="index.html"> por Luana Marchena</a>
        <ul class="nav-menu">
            <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="principal.html">Inicio</a></li> 
            <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="AcercaDe.html">Acerca de</a></li>     
            <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="MenuTortas.html">Pedidos</a></li> 
            <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="contacto.html">Contacto</a></li> 
            <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="https://www.instagram.com/dulcesdelcielo_cr/" target="_blank">Instagram</a></li> 
            <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="https://www.facebook.com/search/top?q=dulces%20del%20cielo">Facebook</a></li>
        </ul>
        </nav>
            
        </header>
    <article class="pedidos">
            <br>
            
            <h1 style="color: #9A59AB" >PIDE LA TORTA FRÍA DE TUS SUEÑOS</h1>
          
         <ul class="nav-menu2">
             
            <li style="color: #9A59AB" class="nav-menu-item nav-menu2 ">Menú Pastelería   |</li> 
            <li class="nav-menu-item"><a class="nav-link nav-menu-link " href="MenuTortas.html">Tortas Frías</a></li> 
            <li class="nav-menu-item"><a class="nav-link nav-menu-link " href="MenuCelebraciones.html">Celebraciones</a></li>
            <li class="nav-menu-item"><a class="nav-link nav-menu-link " href="MenuFullbox.html">Fullbox</a></li> 
            <li class="nav-menu-item"><a class="nav-link nav-menu-link " href="MenuCupcakes.html">Cupcakes</a></li> 
            <li class="nav-menu-item"><a class="nav-link nav-menu-link " href="MenuGalletas.html">galletas</a></li> 
            <li class="nav-menu-item"><a class="nav-link nav-menu-link " href="MenuLunchbox.html">Lunchbox</a></li> 
            <li class="nav-menu-item"><a class="nav-link nav-menu-link " href="MenuPostres.html">Postres</a></li> 
            
         </ul>
            
         <hr style="color: #9A59AB">
         <br>
         <div style="align-content: flex-start">
         <p style="color: #9A59AB " >Menú de Tortas Frías</p>
         <p style="color: #9A59AB">Una semana desde el pedido a la entrega, <strong>los precios dependerán de los detalles y costo de envío</strong></p>
         <br>
         <p style="color: #9A59AB">TORTAS FRÍAS</p>
         <p style="color: #9A59AB">Celebra con tu ser querido con una torta fría totalmente personalizada. </p>
         </div>
         <article class="tortasfrias">
         <div id="container" class="flex">
         <div id="cajasdeinformacion">
         <article class="cajasdeinformacion">
             <article class="parrafo-caja-info">
              <p>Torta Fría para los amantes de la Piña Colada </p>  
              <p>Sabor: Piña colada con ron </p> 
              <p>Sabor simplemente exquisito </p>
              <p>precio:  17 000 colones </p>
              </article>
              <img src="Imagenes/torta fría piña colada.jpg" width="80" alt="piña colada"/>
             
         </article> 
         </div>
         </div>
         <div id="cajasdeinformacion">
         <div id="container" class="flex">  
         <article class="cajasdeinformacion ">
             <article class="parrafo-caja-info">
              <p>Torta Fría para los amantes del churchill </p>  
              <p>Sabor: Churchill con leche condensada</p> 
              <p>Sabor simplemente exquisito</p>
              <p>precio: 15 000 colones </p>  
             </article>
              <img src="Imagenes/torta fría churchill.jpg" width="90" alt="torta fría de churchill"/>
        </article>
        </div>
        </div>  
        </article> 
        <article>
        <article class="tortasfrias">
         <div id="container" class="flex">
         <div id="cajasdeinformacion">
         <article class="cajasdeinformacion">
         <article class="parrafo-caja-info">
              <p>Torta Fría para los amantes del dulce de leche </p>  
              <p>Sabor: Vainilla con dulce de leche</p> 
              <p>Sabor simplemente exquisito </p>
              <p>precio:  20 000 colones </p>  
          </article>
              <img src="Imagenes/torta fría fresas.jpg" width="80" alt="torta fría de dulce de leche"/>
         </article>   
         </div>
         </div> 
         <div id="cajasdeinformacion">
         <div id="container" class="flex">  
         <article class="cajasdeinformacion ">
             <article class="parrafo-caja-info">
              <p>Torta Fría para los amantes de las frutas </p>  
              <p>Sabor: Vainilla con frutas frescas</p> 
              <p>Sabor simplemente exquisito</p>
              <p>precio: 15 000 colones </p>  
             </article>
             <img src="Imagenes/torta fría 2.jpg" width="90" alt="torta fría de frutas"/>
              
         </article>
         </div>
         </div>  
         
        </article> 
        </article>
         <article class="tortasfrias">
         <div id="container" class="flex">
         <div id="cajasdeinformacion">
         <article class="cajasdeinformacion">
             <article class="parrafo-caja-info">
              <p>Torta Fría para los amantes del chocolate </p>  
              <p>Sabor: Chocolate con Oreo </p> 
              <p>Sabor simplemente exquisito </p>
              <p>precio:  20 000 colones </p>  
             </article>
              <img src="Imagenes/torta fría chocolate oreo.jpg" width="80" alt="torta fría chocolate"/>
         </article> 
         </div>
         </div>
         <div id="cajasdeinformacion">
         <div id="container" class="flex">  
         <article class="cajasdeinformacion ">
             <article class="parrafo-caja-info">
              <p>¡Personaliza tu propia torta fría </p>  
              <p>Elige el sabor,diseño,relleno entre otros</p> 
              <br>
              <p>Haz click para personalizar</p>  
             </article>
             <img src="Imagenes/torta fría 3.jpg" width="80" alt="torta fría personalizada"/>
        </article>
        </div>
        </div>  
        </article>
         </article>
         <br>
        <br>
        <footer>
            <p class="pie" > Derechos Reservados &COPY; 2023</p>
        </footer>
       </body> 
</html>
