<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Dulces del Cielo</title>
        
        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header><!-- comment -->
        
        
        <section th:replace="~{pasteles/fragmentos :: EditarPasteles}"></section>
        
        
        
        
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
