/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 jun 2023, 12:46:47
    Author     : laicy
*/

*{
    margin: 0;
    box-sizing: border-box;
}

    body {
    padding:80px 20px 0;
    background-color: white;
    font-family: serif;
}
.felicidad{
    
  text-align: center;
  font-family: cursive;
  color: #9A59AB ;
}
.parrafo{
    text-align: center;
    color: #9A59AB ;
}
    
.promocion{
      
      height: 80px;
      height: 250px;
      left : 100;
      right: 100;  
    }  
   
    

.cuadro {
 
    background-color:#F6A5D3 ;
    height: 250px;
    width: 40%;
    top: 100;
    left: 20;   
}

.header {
    position: fixed;
    background-color:white ;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
 display: flex;
   justify-content: space-between;
   margin: 0 auto;
}

.nav-link{
    text-decoration: none;
    color: #9A59AB;
}
.logo{
    font-size: 20px;
    font-weight: lighter;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style:outside;
    color: #ffffff;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
}
.nav-menu-link{
    padding: 8px 8px;
}
.nav-menu-link:hover{
    background-color: lightpink;
    border-radius: 40px;
}
.pie {
   text-align: center;
   height: 50px;
   background-color: turquoise;
   color: white;
      
}
.form {
    background-color: white;
    padding: 50px;
    color: black;
}
.acercade{
  text-align: center;
   background-color: #F9D6E8;
   color: #707070;
   height: 700px;
   left:50;
   right: 50;  
}

.pedidos{
  text-align: center;
   background-color: #F9D6E8;
   color: #707070;
   height: 1000px;
   left:40;
   right: 40;  
}
.violeta {
    background-color: #CEB4D5;
    padding: 40px;
}
.contacto {
    padding: 20px;
}

.contacto h2 {
    text-align: center;
    color: black;
}

.contacto p {
    text-align: center;
    color: black;
}

